.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.app {
    margin-top: 50px;
    display: flex;
}

.col {
    min-width: 350px;
    border: 1px solid #999999;
}

.col__header {
    font-size: 30px;
}

.card {
    box-shadow: 0 0 3px #999999;
}

.card__user {
    display: flex;
    align-content: center;
}

.card__user-name {
    margin-top: 5px;
}

.card__user-photo {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
}

.card__user-photo img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .title {
        margin-top: 30px;
        font-size: 34px;
    }

    .app {
        margin-top: 30px;
    }

}
